CREATE DATABASE TurnosDB;
GO

USE TurnosDB;
GO

CREATE TABLE Turnos(
  Id INT IDENTITY PRIMARY KEY,
  NombreCliente VARCHAR(100),
  Servicio VARCHAR(100),
  FechaHora DATETIME,
  Estado VARCHAR(20)
);

INSERT INTO Turnos (NombreCliente, Servicio, FechaHora, Estado)
VALUES
('Sofía', 'Corte', GETDATE(), 'Pendiente'),
('Mateo', 'Color', DATEADD(HOUR, 3, GETDATE()), 'Pendiente');